<% @page_title = "Your Nodes" -%>
<div class="Title">Player Nodes</div>
<div class="List">
<% if @player != nil %>
	<% @player.node.each do |n| %>
		<div class="ListElement InSelector" onclick="select_node(this, n.id, 'ListSel');"> <%= n.name %></div>
	<% end %>
<% end %>
</div>

<div class="Title">GM Nodes</div>
<div class="List">
<% Node.where(:gm_id => session[:user_id]).each do |n| %>
<div class="ListElement InSelector" onclick="select_node(this, n.id, 'ListSel');"> <%= n.name %></div>
<% end %>
</div>
