
<div class="Title">Player Nodes</div>
<div class="List">
	<% if @player != nil %>
		<% @player.nodes.each do |n| %>
			<%= content_tag(:div, "#{n.name}", :onclick => "select_node(this, #{n.id}, 'ListElement')", :class => "ListElement InSelector") %>
		<% end %>
	<% end %>
</div>

<div class="Title">GM Nodes</div>
<div class="List">
	<% @user.nodes.each do |n| %>
		<%= content_tag(:div, "#{n.name}", :onclick => "select_node(this, #{n.id}, 'ListElement')", :class => "ListElement InSelector") %>
	<% end %>
	<%= hidden_field_tag(:nodeid, :value => nil)%>
</div>
