<div class="Title">Node Manager</div>

<div class="WindowManager">
  <div class="NarrowListPane">
    <div class="Title">GM Nodes</div>
    <% @user.nodes.each do |n| %>  
        <%= content_tag(:div, "#{n.name}", :onclick => "display_in_pane(\'#nodepane\', \'edit\', {\'id\':\'#{n.id}\'})", :class => "ListElement InSelector") %>
    <% end %>
    <% @user.players.each do |p| %>
      <div class="Title"><%= p.name %></div>
      <% p.nodes.each do |n| %>
        <%= content_tag(:div, "#{n.name}", :onclick => "display_in_pane(\'#nodepane\', \'edit\', {\'id\':\'#{n.id}\'})", :class => "ListElement InSelector") %>
      <% end %>
    <% end %>
  </div>
  <div class="LargePane" id="nodepane">
    <div class="Title">Select a Node</div>
  </div>
</div>
