<div class="Title">New programset_template</div>
<%= form_tag url: {controller: 'programset_templates '} do %>
<%= render 'form' %>
<%= submit_tag :Submit %>
<% end %>
<%= link_to 'Back', programset_templates_path %>
