<div class="SplashContainer CenterCenter">
<%= link_to :controller => :sessions, :action => :login do %>
<div class="LoginBtn">Login!</div>
<% end %>
<div class="Label">or</div>
<%= link_to :controller => :users, :action => :new do %>
<div class="LoginBtn">Sign up!</div>
<% end %>
</div>
