<p id="notice"><%= notice %></p>

<p>
  <b>Friend:</b>
  <%= User.find_by_id(@friend.friend_id).username %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
