<% @page_title = "Delete Player" -%>
<div class= "Sign_Form">
	<div class= "Title">Really delete <%= @player.name %></div>
	<p> This action cannot be undone! </p>
	<p> <%= link_to "Yes, I understand I CANNOT undo this", :action => :delete_attempt, :id => @player.id %></p>
	<p> <%= link_to "No, take me back", :back %> </p>
</div>