<div class="FormContainer">
	<%= @programset.attribute_names.each do |c, d| %>
		<div class="EditCell"><div class="EditCellLabel"> <%= d %> </div>
			<%= text_field_tag ("prog_" + c), @programset.send(c), :class => "EditCellInput" %>
		</div>
	<% end %>
</div>
