<div class="ListContainer">
<% @programset.item_names.each do |k,v| %>
  <div class="ListElement">
    <%= "#{v}:" %>
    <div class="VividNumber">
      <%= @node.send(k) %>
    </div>
  </div>
<% end %>
</div>