	
<div class="Title">Pals</div>
<div class= "ListContainer" id="pals">
	<% @user.pals.each do |p| %>
	 <% username = User.find_by_id(p.pal_id).username %>
	 <%= content_tag(:div, ("#{username} " + link_to(image_tag("delete16.png", :border => 0), {:controller => :friender, :action => :remove, :id => p.id, :username => username}, :class => "DeleteTag")).html_safe, :onclick => "select_list_item(this, \'#{username}\', 'ListSel', '#pal_data')", :class => "ListElement InSelector") %>
   </div>
	<% end %>
  <%= hidden_field_tag :pal_data %>
