	
<div class= "ListContainer">
	<% @user.pals.each do |p| %>
	 <% username = User.find_by_id(p.pal_id).username %>
	 <div class= "ListElement"> 
    <%=  username + " " %>
    <%= link_to image_tag("delete16.png", :border => 0), :controller => :friender, :action => :remove, :id => p.id, :username => username %>  
   </div>
	<% end %>
</div>