/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
width:100%;
height:100%;
}

body{
width:100%;
height:100%;
margin:0;
padding:0;
}
.Fixed{

width:100%;
height:100%;
position:absolute;
overflow:visible;
text-align:center;
min-width:70em;
min-height:50em;
}

.Vghost{
	content: '';
	display: inline-block;
	height:100%;
	vertical-align:middle;
	margin-right: -0.25em;
}

.Overlord{
background-color:#777777;
width:60em;
height:45em;
margin-top: 5em;
margin: 0 auto;
overflow:visible;
border:solid;
border:1px;
border-color:#999999;
padding:1px;
vertical-align:middle;
display:inline-block;
}

.ContentWrap{
background-color:#999999;
width:55em;
height:40em;
border:solid;
border-width:2px;
border-color:#9999AA;
margin-top:2.5em;
margin-left:auto;
margin-right:auto;

}

.invalid{
color:#AA3333;
}
.valid{
color:#33AA33;
}

.Form_Element{

}

.Title{
	font-size:18pt;
	font-style: strong;
}
