/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html{
width:100%;
height:100%;
}

body{
width:100%;
height:100%;
margin:0;
padding:0;
}

button{
	padding:0px;
	margin:0px;
	height:auto;
	width:auto;
	border:solid;
	border-color:#000000;
	border-width:1px;
	clear:both;
}

.Fixed{

width:100%;
height:100%;
position:absolute;
overflow:visible;
text-align:center;
min-width:70em;
min-height:50em;
}

.Vghost{
	content: '';
	display: inline-block;
	height:100%;
	vertical-align:middle;
	margin-right: -0.25em;
}

.Overlord{
background-color:#777777;
width:60em;
min-height:45em;
height:auto;
margin-top: 5em;
margin: 0 auto;
overflow:visible;
border:solid;
border:1px;
border-color:#999999;
padding:1px;
vertical-align:middle;
display:inline-block;
}

.ContentWrap{
background-color:#999999;
width:55em;
min-height:37em;
height:auto;
border:solid;
border-width:2px;
border-color:#9999AA;
margin-top:5em;
margin-left:auto;
margin-right:auto;
margin-bottom:5em;
overflow-y:auto;
}

.invalid{
color:#AA3333;
}
.valid{
color:#33AA33;
}

.Form {
	overflow:hidden;
	height:auto;
}

.Form_Container{
	overflow:hidden;
	height:auto;
}

.Form_Element{

}

.EditCell{
	height:4em;
	width:4em;
	font-size:18pt;
	float:left;
	margin-left:0.1em;
}

.EditCellLabel{
	height:40%;
	width:100%;
	text-align:center;
	font-size:10pt;
	float:left;
}

.EditCellInput{
	height:60%;
	width:100%;
	text-align:center;
	font-size:18pt;
	float:left;
	padding:0;
	border:solid;
	border:1px;
}

.Title{
	font-size:18pt;
	font-style: strong;
	text-align:center;
}

.ListContainer{
	width:100%;
}

.ListElement{
	width:100%;
	border-bottom-style: solid;
	border-bottom:1px;
	border-bottom-color:#000000;
}

.InSelector{

}

.ListSel {
	background-color:#0000EE;
	color:#FFFFFF;
}

.Compact
{
	height:3.3em;
	width:20em;
	position:relative;
	top:0em;
	left:35em;
}

.CompactElement{
	height:1.1em;
	width:20em;
	float:right;
}

.Short {
	width:10em;
}
.CompactLabel{
	font-size:7pt;
	height:1.2em;
	width:12em;
	float:left;
}

.CompactInput{
	font-size:10pt;
	height:1em;
	width:9em;
	padding:0;
	border:solid;
	border-width:1px;
	float:left;
}

.CompactButton{
	font-size:7pt;
	height:1.3em;
	width:13em;
	padding:0;
	border:solid;
	border-width:1px;
	float:left;
}

.SwitchList {
	width:55em;
	height:auto;
	min-height:5em;
	margin-top:0.5em;
	margin-bottom:0.5em;

}

.LeftList {
	width:25em;
	height:100%;
	float:left;
}

.CenterList {
	width:5em;
	height:100%;
	float:left;
}

.RightList {
	width:25em;
	height:100%;
	float:left;
}

.Clear{
	clear:both;
}

.DeleteTag{

}

.EditTag{

}

.HiddenTag{
	display:hidden;
}


.SwitchButton{
	width:100%;
	height:1.5em;
	text-align:center;
}