<!DOCTYPE html>
<html>
<head>
  <title>Commlink</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="Fixed">
<div class="Vghost"></div>
<div class="Overlord">
<div class="ContentWrap">
<%= yield %>
</div>
</div>
</div>
</body>
</html>
